{% extends 'pages/base.html' %}
{%  block content %}
    <main>
    <section class="featured">
      <div class="container">
        <h2>Популярные товары</h2>
        <div class="products">
            {% for post in posts %}
          <div class="product">
            <img src="{{ post.photo.url }}" alt="Product 1">
            <h3>{{ post.title }}</h3>
            <p>{{ post.content | truncatewords:5 }}</p>
            <span class="price">{{ post.price }} руб.</span>
            <button class="add-to-cart">Добавить в корзину</button>
          </div>
            {% endfor %}
        </div>
      </div>
    </section>
    <section class="categories">
      <div class="container">
        <h2>Категории товаров</h2>
        <ul>
          <li><a href="#">Двигатель</a></li>
          <li><a href="#">Трансмиссия</a></li>
          <li><a href="#">Сцепление</a></li>
          <li><a href="#">Тормозная система</a></li>
          <li><a href="#">Ходовая часть</a></li>
        </ul>
      </div>
    </section>
  </main>
{%  endblock %}