/* Global Styles */
* {
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
  margin: 0;
}
h1, h2, h3 {
  margin: 0;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  color: #333;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.container {
  width: 90%;
  margin: 0 auto;
}
/* Header Styles */
header {
  background-color: #eee;
  padding: 2rem 0;
}
header h1 {
  margin: 0;
  font-size: 2rem;
  font-weight: bold;
}
nav ul {
  display: flex;
}
nav li {
  margin-right: 1rem;
}
nav li:last-child {
  margin-right: 0;
}
nav a {
  font-weight: bold;
}
/* Featured Products Styles */
.featured {
  padding: 2rem 0;
}
.featured h2 {
font-size: 1.5rem;
margin-bottom: 1rem;
}
.products {
display: flex;
flex-wrap: wrap;
}
.product {
width: calc(33.33% - 1rem);
margin-right: 1rem;
margin-bottom: 1rem;
border: 1px solid #ccc;
padding: 1rem;
}
.product:last-child {
margin-right: 0;
}
.product img {
  display: block;
  width: 100%;
  margin-bottom: 1rem;
}
.product h3 {
font-size: 1.2rem;
margin-bottom: 0.5rem;
}
.product p {
margin-bottom: 0.5rem;
}
.price {
font-weight: bold;
margin-right: 0.5rem;
}
.add-to-cart {
background-color: #333;
color: #fff;
border: none;
padding: 0.5rem 1rem;
cursor: pointer;
transition: background-color 0.3s ease;
}
.add-to-cart:hover {
background-color: #555;
}
/* Categories Styles /
.categories {
background-color: #f8f8f8;
padding: 2rem 0;
}
.categories h2 {
font-size: 1.5rem;
margin-bottom: 1rem;
}
.categories ul li {
margin-bottom: 1rem;
}
.categories ul li a {
font-size: 1.2rem;
}
/ Footer Styles */
footer {
background-color: #333;
color: #fff;
padding: 1rem 0;
}
footer p {
  margin: 0;
  text-align: center;
}
.cart img {
  max-width: 1.5rem;
  float: right;
}
.last {
  text-align: right;
}
.form-input {
  display: block;
  margin-top: 0em;
}
.searching {
  background-color: #333;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.searching form {
  display: flex;
  align-items: center;
}
.searching input {
  margin-right: 0px;
  font-size: 16px;
  padding: 5px 10px;
  border-radius: 5px 0 0 5px;
  border: none;
}
.searching button {
  font-size: 16px;
  padding: 5px 10px;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}
.cart_notfound {
  text-align: center;
}
.trash img {
  max-width: 1.5rem;
}
